<%= simple_form_for(@experiment, html: {class: "form-vertical"}) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <%= f.input :user_id, collection: User.all, label_method: :full_name %>
    <div class="row-fluid">
      <div class="span12 page-header">
        <%= f.input :title, placeholder: 'Title', as: :string, label: false %>
      </div>
    </div>
    <div class="row-fluid">
        <%= f.input :startdate, as: :string, :input_html => { data: {behaviour: "datepicker"}}, wrapper_html: { class: 'span4 text-center'}, label: 'Start Date' %>
        <%= f.input :stopdate, as: :string, :input_html => { data: {behaviour: "datepicker"}}, wrapper_html: { class: 'span4 text-center'}, label: 'Stop Date' %>
        <%= f.input :experimenttype, wrapper_html: { class: 'span4 text-center'}, input_html: { class: 'text-center' }, label: 'Experiment Type' %>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= f.input :details, wrapper_html: {class: 'text-center'}, input_html: { class: 'text-center' }, required: false %>
      </div>
    </div>
    <%= f.input :createddate, as: :string %>
    <%= f.button :submit %>
    <script type="text/javascript">
      $('[data-behaviour~=datepicker]').datepicker({"format": "yyyy-mm-dd", "weekStart": 1, "autoclose": true});
    </script>
  </div>
<% end %>
