<p id="notice"><%= notice %></p>

<p>
  <b>Creator:</b>
  <%= @experiment.user.full_name %>
</p>

<p>
  <b>Title:</b>
  <%= @experiment.title %>
</p>

<p>
  <b>Startdate:</b>
  <%= @experiment.startdate %>
</p>

<p>
  <b>Stopdate:</b>
  <%= @experiment.stopdate %>
</p>

<p>
  <b>Experimenttype:</b>
  <%= @experiment.experimenttype %>
</p>

<p>
  <b>Details:</b>
  <%= @experiment.details %>
  <%= @experiment.user_id %>
</p>


<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
